.App {
  background-color: rgba(36, 76, 124, 255);
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

body {
  border: none;
  margin: 0px;
  padding: 0px;
}

.home-container {
  background: url("./assets/logo.png") no-repeat center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-size: 100%;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
}

.landing-div {
  text-align: center;
  position: relative;
  width: 25%;
  margin-bottom: 6%;
  padding-left: 1.5%;
}

.landing-date {
  font-size: 4rem;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: rgb(242, 188, 98);
  margin-bottom: 5%;
}

span {
  font-size: 30px;
  -webkit-text-stroke: 0.5px black;
  -webkit-text-fill-color: rgb(242, 188, 98);
}

.landing-button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 10px;
  background-color: rgb(242, 188, 98);
  border-radius: 0.5rem;
  border: black solid 2px;
  transition: 0.3s;
  margin-bottom: 5%;
  margin-right: 4%;
}

.landing-button:hover {
  background-color: #ff9149;
}

.form-button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 10px;
  background-color: rgb(242, 188, 98);
  border-radius: 0.5rem;
  border: black solid 2px;
  transition: 0.3s;
}

.form-button:hover {
  background-color: #ff9149;
}

.footer-container {
  background-color: rgb(242, 188, 98);
  border-top: solid 0.3rem black;
  color: black;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(36, 76, 124, 255);
}

.about-card {
  display: flex;
  border: solid 0.3rem black;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
}

.about-text {
  width: 40%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 0 0.5rem 0.5rem 0rem;
  text-align: center;
  padding: 20px;
  background-color: white;
}

.about-card2 {
  display: flex;
  flex-direction: row-reverse;
  border: solid 0.3rem black;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
}

.about-text-2 {
  text-align: center;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem 0 0 0.5rem;
}

.image-1 {
  border-radius: 0.5rem 0 0 0.5rem;
}

.image-2 {
  border-radius: 0 0.5rem 0.5rem 0;
}

.group-1 {
  display: flex;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.group-2 {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
}

i {
  padding: 10px;
  transition: 0.3s;
}

i:hover {
  color: #ff9149;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}

a:link {
  color: #1b1c34;
}

a:visited {
  color: #1b1c34;
}

.nav-container {
  background-color: rgb(242, 188, 98);
  padding-bottom: 10px;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: solid 0.3rem black;
}

nav {
  padding: 1rem;
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  transition: 0.3s ease;
}

.form-container {
  background-color: rgba(36, 76, 124, 255);
  display: grid;
  place-items: center;
  height: 78.8vh;
  overflow: hidden;
}

.form-inner-container {
  background-color: white;
  text-align: center;
  padding: 2rem;
  border: solid 0.3rem black;
  border-radius: 0.5rem;
}

.user-input {
  width: 65%;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem;
}

textarea {
  resize: none;
}

input {
  outline: none;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  color: rgb(242, 188, 98);
}

.error-image {
  height: 52%;
  width: 45%;
}

/* Laptop Media Query */

@media (max-width: 1024px) {
  /* About Page Laptop */
  .about-card {
    flex-direction: column;
  }
  .about-text {
    width: 93.4%;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .group-1 {
    margin-left: 20%;
  }
  .image-1 {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .about-card2 {
    flex-direction: column;
  }
  .group-2 {
    margin-right: 20%;
  }
  .image-2 {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .about-text-2 {
    border-radius: 0 0 0.5rem 0.5rem;
  }

  /* Home Page Laptop */
  .home-container {
    background-size: cover;
  }
  .landing-date {
    font-size: 3rem;
    margin-bottom: 3%;
  }
  .landing-div {
    margin-bottom: 12%;
  }

  /* Sign Up Page Laptop */
  .form-container {
    overflow: inherit;
    height: 100vh;
  }

  /* Error Page */
  .error-image {
    width: 70%;
  }
}

/* Tablet Media Query */

@media (max-width: 768px) {
  /* Home Page Tablet */
  .landing-div {
    width: 31%;
    margin-bottom: 15%;
  }

  /* About Page Tablet */
  .about-text {
    width: 91%;
  }
}

/* Mobile Media Query */
@media (max-width: 425px) {
  /* Home Page */
  .home-container {
    background-size: 135%;
  }

  .landing-div {
    margin-bottom: 25%;
    width: 45%;
    padding: 0;
    margin-bottom: 25%;
  }

  .landing-date {
    font-size: 2.5rem;
    margin-left: 7%;
  }
  .landing-button {
    font-size: 12px;
    margin-right: 0;
  }

  /* About Page */
  .group-1 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .about-text {
    width: 89%;
  }

  .group-2 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  /* Sign Up Page */

  .form-inner-container {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
  }

  /* Error Page */

  .error-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .error-image {
    width: 100%;
    height: 40%;
  }

  @media (max-width: 375px) {
    .about-text {
      width: 88%;
    }
    .landing-div {
      width: 55%;
    }
  }

  @media (max-width: 320px) {
    .about-text {
      width: 86%;
    }
    .nav-container {
      font-size: 1rem;
    }
  }
}
