.App {
  background-color: rgb(36, 80, 104);
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

body {
  border: none;
  margin: 0px;
  padding: 0px;
}

.home-container {
  background: url("./assets/logo.png") no-repeat center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-size: 100%;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
}

.landing-div {
  text-align: center;
  position: relative;
  width: 25%;
  margin-bottom: 5%;
}

.landing-date {
  font-size: 4rem;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: rgb(242, 188, 98);
}

.landing-button {
  margin-bottom: 5%;
}

.footer-container {
  background-color: rgb(27, 28, 52);
  color: rgb(107, 107, 108);
  bottom: 0;
  width: 100%;
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-card {
  display: flex;
  border: solid 5px #f2bc62;
}

.about-card2 {
  display: flex;
  flex-direction: row-reverse;
  border: solid 5px #f2bc62;
}

.about-text {
  text-align: center;
  padding: 20px;
}

.group-1 {
  display: flex;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.group-2 {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

i {
  padding: 10px;
}

a:link {
  color: #ffb951;
}

a:visited {
  color: #ffb951;
}
.nav-container {
  background-color: rgb(27, 28, 52);
  height: 3rem;
  text-align: center;
}

nav {
  padding: 1rem;
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.form-container {
  display: grid;
  place-items: center;
  height: 79vh;
  overflow: hidden;
}

.form-inner-container {
  background-color: teal;
  text-align: center;
  padding: 2rem;
}

textarea {
  resize: none;
}

input {
  outline: none;
}
